<h1>Fill in the form</h1>

<%= form_for @car do |v| %>
    <div>
    	<label>Year:</label>
    	<%= v.select :year, options_for_select((YearMakeModel.all.map(&:year).uniq).sort.reverse) %>
    	<label>Make</label>
    	<%= v.select :make, options_for_select(YearMakeModel.all.map(&:make).uniq) %>
    	<label>Model</label>
    	<%= v.select :model, options_for_select((YearMakeModel.all.map(&:model).uniq).sort) %>
    	<label>VIN</label>
    	<%= v.text_field :vin %>
    	<label>VIN</label>
    	<%= v.text_field :odometer %>
    </div>
    <p><label>Picture</label>
        <%= v.file_field :images, multiple: true, direct_upload: true %> 
    </p>
     <% if current_user %>
            <%= v.submit %>          
     <% else %>
            <label>email:</label>
            <%= text_field_tag 'email', nil, placeholder: 'Enter email' %>
            <label>password:</label>
            <%= password_field :user, :password, placeholder: 'Enter password' %>
	        <%= v.submit %>
    <% end %>
<% end %>

