<h1>Fill in the form</h1>

<%= form_for @car do |v| %>
    <div>
    	<label>Year:</label>
    	<%= v.text_field :year %>
    	<label>Make</label>
    	<%= v.text_field :make%>
    	<label>Model</label>
    	<%= v.text_field :model%>
    	<label>VIN</label>
    	<%= v.text_field :vin%>
    </div>

	<%= v.submit %>
<% end %>
