<h1>Make edits to listing</h1>

<div>
        <%= @car.make %>
        <%= @car.model %>
        <%= @car.vin %>
</div>
<div>
        <% if current_user.account_type == "dealer" %>
            <%= form_for [@car, @bid] do |b| %>
                <label>Enter bid:</label>
                <%= b.text_field :bid_amount %>
    
            <%= b.submit %> 
            <% end %>
        <% end %>
</div>

<li>
    <% if @car.images.attached? %>
        <% @car.images.each do |image|%>
    	    <%= image_tag image, height: 300 %>
        <% end %>
    <% end %>
</li>

    <% if @car.user_id == current_user.id %>
        <%=link_to "delete", car_path(@car),
                             method: :delete,
                             data: {confirm: "Are you sure?"} %>
                            
        <%=link_to "edit", edit_car_path(@car)%>                    
        
    <% else %>
            
<% end %> 